body{
    font-family: sans-serif;
    background-image: url('bg.png');
}

.main{
    background: white;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
}

.message{
    background: red;
    color: white;
    font-weight: bold;
}